{% include "paypals/header.html" %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                    <label for="id_description" class="mr-2">Group Name:</label>
                    {{  Groupform.groupName }}
                  </div>
                  <div class="form-group">
                    <label for="id_participants" class="mr-2">User List:</label>
                    {{  Groupform.userList}}
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Create</button>
                </form>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}