<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

{% include "paypals/header.html" %}

<div class="chart">              
</div>

<script>
    var owed = "{{ owed }}"
    var owe  = "{{ owe }}"
    var data = {
        series: [ owed, owe ]
    };


    var sum = function(a, b) { return a + b };

    new Chartist.Pie('.chart', data, {
        labelInterpolationFnc: function(value) {
            return Math.round(value / data.series.reduce(sum) * 100) + '%';
        }
    });
</script>