<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>


{% include "paypals/header.html" %}
<div class="chart-container">
    <div class="chart">
    </div>
</div>

<script>
    var owed = "{{ owed }}"
    var owe = "{{ owe }}"
    var data = {
        series: [owed, owe]
    };

    var optionsT = {
        width:"200px",
        height:"200px",
    };
    var responsiveOptionsT = [
['screen and (min-width: 1024px)', {
  labelOffset: 95,
  chartPadding: 75,
}]
];
    var sum = function (a, b) { return a + b };

    new Chartist.Pie('.chart', data,  optionsT, {
        labelInterpolationFnc: function (value) {
            return Math.round(value / data.series.reduce(sum) * 100) + '%';
        }
    });
</script>