{% include "paypals/header.html" %}
<div class="container">
    <div class="row justify-content-center">
        <h1>Friends List for {{user.username}}</h1>
        <table class="table table-hover">
            {% for friend in friends %}
            <tr>
                <td>{{ friend.username }}</td>
                <td class="text-right">
                    <form action="{% url 'remove_friend' friend.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button btn-danger">
                            Remove Friend
                        </button>
                    </form>
                </td>
                {% empty %}
                <td>No friends yet.</td>
            </tr>

            {% endfor %}

        </table>
        <a href="/add_friend/">
            <button type="submit" class="btn btn-primary">Add Friend</button>
        </a>

    </div>
</div>