{% include "paypals/header.html" %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 py-4">
      <h2>{{group.groupName}}</h2>
      {% include "paypals/messages.html" %}
      {% if transactions %}
      <table class="table table-bordered table-striped custom-table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Dollar Amount</th>
            <th>Paid By</th>
            <th>Owed By</th>
            <th>Settle Up</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction, owed_by in transactions.items %}
          <tr>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.paid_by.first_name }}</td>
            <td >
              <div class="users-owed-btn" data-owed="{% for owed in owed_by %}{{ owed.first_name }},{% endfor %}">
                {{ owed_by.0.first_name }} 
                {% if owed_by|length > 1 %}
                +{{ owed_by|length|add:"-1" }}
                  <i class="fas fa-users"></i>
                {% endif %}
              </div>
            </td>
            <td><a href="{% url 'delete_transaction' transaction.id %}"><button class="btn btn-success">Settle Up</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
  <div class="alert alert-danger">
    <p class="mb-0">No transactions to display.</p>
  </div>
{% endif %}
<a href="/groups/{{group.groupID}}/add">
<button type="button" class="btn btn-success" >
  Add Transaction
</button>
</a>
    </div>
    
  </div>
</div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <div class="row">
            <div class="col-sm mb-3">
              
              <div class="text-success">
                <h4>Owed by You</h4>
                {%for user,amount in owed.items%}
                {% if amount > 0 %}
                <p class="mb-0">{{user}}: <span class="you-owe">${{amount}}</span></p>
        {% endif %}
      {% empty %}
      <p class="mb-0">You don't owe anyone anything</p>
      {% endfor %}
              </div>
            </div>
            <div class="col-sm mb-3">
              <div class="text-danger">
                <h4>Owed to You</h4>
                {%for user,amount in borrowed.items%}
                {% if amount > 0 %}
                <p class="mb-0">{{user}}: <span class="owe-you">${{amount}}</span></p>
        {% endif %}
      {% empty %}
      <p class="mb-0">no one owes you anything</p>
      {% endfor %}
              </div>
            </div>
            </div>
            </div>
          </div>
    </div>
    </div>