{% include "paypals/header.html" %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 py-4">
      <h2>{{group.groupName}}</h2>
      {% include "paypals/messages.html" %}
      {% if transactions %}
      <table class="table table-bordered table-striped custom-table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Dollar Amount</th>
            <th>Paid By</th>
            <th>Owed By</th>
            <th>Settle Up</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction, owed_by in transactions.items %}
          <tr>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.paid_by.first_name }}</td>
            <td >
              <div class="users-owed-btn" data-owed="{% for owed in owed_by%}{{ owed.first_name }},{% endfor %}">
                {{ owed.first_name | first}} 
               
              </div>
              </div>
            </td>
            <td><a href="{% url 'delete_transaction' transaction.id %}"><button class="btn btn-success">Settle Up</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
  <div class="alert alert-danger">
    <p class="mb-0">No transactions to display.</p>
  </div>
{% endif %}
<a href="/groups/{{group.groupID}}/add">
<button type="button" class="btn btn-success" >
  Add Transaction
</button>
</a>
    </div>
    
  </div>
</div>

<ul>
  {%for user,amount in owed.items%}
    {% if amount > 0 %}
      <li>You owe {{amount}} to {{user}}</li>
    {% endif %}
  {% empty %}
    <li>You don't owe anyone anything</li>
  {% endfor %}
  {%for user,amount in borrowed.items%}
    {% if amount > 0 %}
      <li>{{user}} owes you {{amount}}</li>
    {% endif %}
  {% empty %}
    <li>Nobody owes you anything</li>
  {% endfor %}
  {%for user,amount in neutral.items%}
    {% if amount == 0 %}
      <li>Everything settled with {{user}}</li>
    {% endif %}
  {% endfor %}
</ul>


<ul>
  {%for user,amount in owed.items%}
    {% if amount > 0 %}
      <li>You owe {{amount}} to {{user}}</li>
    {% endif %}
  {% empty %}
    <li>You don't owe anyone anything</li>
  {% endfor %}
  {%for user,amount in borrowed.items%}
    {% if amount > 0 %}
      <li>{{user}} owes you {{amount}}</li>
    {% endif %}
  {% empty %}
    <li>Nobody owes you anything</li>
  {% endfor %}
  {%for user,amount in neutral.items%}
    {% if amount == 0 %}
      <li>Everything settled with {{user}}</li>
    {% endif %}
  {% endfor %}
</ul>