<head>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

{% include "paypals/header.html" %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="row">
        <div class="col-sm mb-3">
          <div class="text-success">
            <h4>Owed to You</h4>
            <p class="mb-0">${{ owed |floatformat:2}}</p>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="text-danger">
            <h4>You Owe</h4>
            <p class="mb-0">${{ owe |floatformat:2}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <!-- Left Column Content -->
      
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-10 py-4">
            <a href="/add_transaction/">
              <button type="button" class="btn btn-success ml-6 my-2">
                Add Transaction
              </button>
            </a>
            <a href="{% url 'download_transactions' %}">
              <button class="btn btn-primary">
                Download Data as CSV</button>
            </a>
            {% include "paypals/messages.html" %}
            {% if transactions %}
            <table class="table table-bordered table-striped custom-table">
              <thead>
                <tr>
                  <th>Group Name</th>
                  <th>Description</th>
                  <th>Dollar Amount</th>
                  <th>Paid By</th>
                  <th>Owed By</th>
                  <th>Settle Up</th>
                </tr>
              </thead>
              <tbody>
                {% for transaction, owed_by in transactions.items %}
                <tr>
                  <td>{{ owed_by.1 }}</td>
                  <!-- <td>{% if transaction.groupID == 0 %}Individual Transaction{% else %}{{ transaction.groupID }}{% endif %}</td> -->
                  <td>{{ transaction.description }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td>{{ transaction.paid_by.first_name }}</td>
                  <td>
                    <div class="users-owed-btn" data-owed="{% for owed in owed_by.0 %}{{ owed.first_name }},{% endfor %}">
                      {{ owed_by.0.0.first_name}}
                      {% if owed_by.0|length > 1 %}
                      +{{ owed_by.0|length|add:"-1" }}
                      <i class="fas fa-users"></i>
                      {% endif %}
                    </div>
                  </td>
                  <td><a href="{% url 'delete_transaction' transaction.id %}"><button class="btn btn-success">Settle
                        Up</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger">
              <p class="mb-0">No transactions to display.</p>
            </div>
            {% endif %}

          </div>
      
        </div>
      </div>
      </div>
    <div class="col-lg justify-content-center">
      <!-- Right Column Content -->
      <div class="chart">
      </div>
      <div class = "row justify-content-center my-2 mr-3">
    </div>
    </div>
    </div>
  </div>
</div>

<script>
  var owed = "{{ owed }}"
  var owe = "{{ owe }}"
  var data = {
    series: [owed, owe]
  };
  var optionsT = {
    width: "400px",
    height: "400px",
  };

  var options = {
    colors: ['#FFFFFF', '#000000']
  };

  new Chartist.Pie('.chart', data, optionsT);
</script>