{% include "header.html" %}
<h1>{{group.groupName}}</h1>
<div class="col-12">
    <button onclick="location.href='/groups/{{group.groupID}}/add'" type="button" class="btn btn-primary">Add group transaction</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Group</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Paid By</th>
        <th>Owed By</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction, owed_by in transactions.items %}
            <tr>
            <td>{{ transaction.groupID }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.paid_by }}</td>
            <td>
                {% for owed in owed_by %}
                    {{ owed.first_name }},&nbsp;
                {% endfor %}
            </td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="3">No transactions found.</td>
            </tr>
        {% endfor %}
    </tbody>
   
</table>
<ul>
    {%for user,amount in owed.items%}
    <li>You owe {{amount}} to {{user}}</li>
    {% empty %}
    <li>You don't owe anyone anything</li>
    {% endfor %}
    {%for user,amount in borrowed.items%}
    <li>{{user}} owes you {{amount}}</li>
    {% empty %}
    <li>You don't owe anyone anything</li>
    {% endfor %}
    {%for user,amount in neutral.items%}
    <li>Everything settled with {{user}}</li>
    {% endfor %}
  </ul>
