{% include "header.html" %}

<table>
    <thead>
      <tr>
        <th>Group</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Paid By</th>
        <th>Owed By</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction, owed_by in transactions.items %}
            <tr>
            <td>{{ transaction.groupID }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.paid_by }}</td>
            <td>
                {% for owed in owed_by %}
                    {{ owed.first_name }},&nbsp;
                {% endfor %}
            </td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="3">No transactions found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr />

<h3>You are Owed: {{ owed }}</h3>
<h3>You Owe: {{ owe }}</h3>
  