{% include "header.html" %}
<br>
<div class="container">
  <div class="row justify-content-center">
    <h3>Transaction Summary:</h3>
    {% if transactions %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Group</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Paid By</th>
          <th>Owed By</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction, owed_by in transactions.items %}
        <tr>
          <td>{% if transaction.groupID == 0 %}Individual Transaction{% else %}{{ transaction.groupID }}{% endif %}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.paid_by }}</td>
          <td>
            {% for owed in owed_by %}
            {{ owed.first_name }},&nbsp;
            {% endfor %}
          </td>
          <td>
            <a href="{% url 'delete_transaction' transaction.id %}">Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No transactions found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">
      <p class="mb-0">No transactions to display.</p>
    </div>
  {% endif %}

  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h3>You are Owed: {{ owed }}$</h3>
  </div>
  <div class="row justify-content-center">
    <h3>You Owe: {{ owe }}$</h3>
  </div>
</div>