<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PayPals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_transaction/">Add Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown mr-auto">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <b>{{user.username}}</b>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/friends/">Friends</a>
            <a class="dropdown-item" href="/account_settings/">Settings</a>
            <a class="dropdown-item" href="/logout/">Logout </a>
          </div>
        </li>
        {% else %}
        <a class="nav-item nav-link {% if pageName == 'loginpg' %} active {% endif %} " href="/login/">Login</a>
        {% endif %}
      </ul>
    </div>
  </nav>